#root,
html,
body {
  height: 100vh;
}

body {
  margin: 10px;
  background-color: white;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
